<div class="dashboard full-screen">
  <div class="header header-raised">
    <h1 class="logo">Dowser</h1>
  </div>
  <div class="content content-flex">
    <div class="own-charts">
      <chart></chart>
    </div>
    <div class="other-charts">

    </div>
  </div>
  <div class="footer">
    Created with <3 by Humans
  </div>
</div>
<!-- <h1>Dashboard</h1>
<md-button class="md-raised" ng-click="dashboard.addChart('Ice Cream Sells')">Add Ice Cream</md-button>
<md-button class="md-raised" ng-click="dashboard.addChart('Weather')">Add Weather</md-button> -->
