<div class="dashboard full-screen">
  <div class="sidebar dark-theme">
    <h1 class="logo">Dowser</h1>
    <div class="charts">
      <div class="input-search">
        <input type="text" placeholder="Search charts" autocomplete="false" ng-model="dashboard.inputSearch" />
      </div>
      <ul class="chart-list">
        <li class="chart-item chart-item-active" ng-repeat="chartItem in dashboard.chartList track by $index">
          {{ chartItem.dataName }}
        </li>
      </ul>
    </div>
  </div>
  <div class="content">
    <chart></chart>
  </div>
</div>
<!-- <h1>Dashboard</h1>
<md-button class="md-raised" ng-click="dashboard.addChart('Ice Cream Sells')">Add Ice Cream</md-button>
<md-button class="md-raised" ng-click="dashboard.addChart('Weather')">Add Weather</md-button> -->
