<div class="dashboard full-screen dark-theme">
  <div class="sidebar">
    <h1 class="logo">Dowser</h1>
    <div class="charts">
      <div class="chart-features">
        <md-button ng-click="dashboard.addNewChart()" class="md-raised md-primary">Add Chart</md-button>
      </div>
      <ul class="chart-list">
        <li class="chart-item chart-item-active" ng-repeat="chartItem in dashboard.chartList track by $index">
          {{ chartItem.dataName }}
        </li>
      </ul>
    </div>
  </div>
  <div class="content">
    <h2 class="md-headline">Test x Days</h2>
    <chart identifier="main"></chart>
    <h3 class="md-title">Comparable Charts</h2>
    <div class="comparable-charts">
      <div ng-repeat="comparableChartItem in dashboard.comparableCharts" class="comparable-chart-item">
        <h4 class="md-subhead">{{ comparableChartItem.dataName }}</h4>
        <div class="simple-chart" ng-click="dashboard.addChart(comparableChartItem.dataName)">
          <chart-mini identifier="{{ comparableChartItem.identifier }}"></chart-mini>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <md-button class="md-raised" ng-click="dashboard.addChart('Ice Cream Sells')">Add Ice Cream</md-button>
<md-button class="md-raised" ng-click="dashboard.addChart('Weather')">Add Weather</md-button> -->
