/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  stylus dependencies when defined in the bower.json of your dependencies
 */
// bower:styl
// endbower

wrapper = 0 21px

dark-gray-color = #263238
light-gray-color = #ECEFF1
white-color = #fff

html, body, .app
  width 100%
  height 100%

body
  margin 0
  padding 0

.app
  position relative

.full-screen
  display flex
  flex-direction column
  width 100%
  height 100%

.dark-theme
  color white-color

.header
  flex 0
  padding wrapper

  &-raised
    color white-color
    background-color dark-gray-color

.content
  flex 1
  padding wrapper

  &-flex
    display flex
    flex-direction column
    justify-content center
    padding 0

.footer
  flex 0
  text-align center
  font-size 14px
  margin 16px 0

.logo
  margin 16px 0

.main
  background-color dark-gray-color

.wizard
  background-color light-gray-color

  &-view
    width 700px
    margin 50px auto 0

  &-button
    margin-top 50px
    padding 8 32px

.dashboard
  background-color light-gray-color

  .footer
    color #90A4AE

.opening
  text-align center

  &-title
    margin 0 0 30px

  &-description
    width 700px
    margin 0 auto 50px

  &-button
    padding 8px 32px

.input-hint
  position absolute
  left 2px
  right auto
  bottom 7px
  font-size 12px
  line-height 14px
  color grey

.input-ace
  width 100%
  height 300px

.agreement
  text-align center

  &-title
    margin 100px 0 21px

  &-description
    margin 0 0 21px

.own-charts
  flex 0 0 300px
  background-color dark-gray-color

.other-charts
  flex 1 1 auto
  padding wrapper

.progress
  position fixed

  &-show
    display block

  &-hide
    display none

// [ui-view].ng-enter, [ui-view].ng-leave
//   position absolute
//   transition all 1s ease-in-out
//
// [ui-view].ng-enter
//   right -100%
//
// [ui-view].ng-enter-active
//   right 0
//
// [ui-view].ng-leave
//   left 0
//
// [ui-view].ng-leave-active
//   left -100%

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your stylus files automatically
 */
// injector
// endinjector
