/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  stylus dependencies when defined in the bower.json of your dependencies
 */
// bower:styl
// endbower

dark-gray-color = #263238
light-gray-color = #ECEFF1
white-color = #fff

wrapper = 0 21px
dark-border = 1px solid dark-gray-color

html, body, .app
  width 100%
  height 100%

body
  margin 0
  padding 0
  overflow hidden

.app
  position relative
  overflow  hidden

.full-screen
  display flex
  flex-direction column
  width 100%
  height 100%

.light-theme
  color #555E65

.dark-theme
  color rgb(182, 190, 193)

  .logo
    color white-color

.header
  flex 0
  padding wrapper

  &-raised
    color white-color
    background-color dark-gray-color

.content
  flex 1
  padding wrapper
  overflow hidden

  &-flex
    display flex
    flex-direction column
    justify-content center
    padding 0

.footer
  flex 0
  text-align center
  font-size 14px
  margin 16px 0

.logo
  padding 16px 0
  margin 0
  font-weight 600
  font-size 36px

#particles-js
  position fixed
  width 100%
  height 100%

.main
  background-color dark-gray-color

.wizard
  background-color light-gray-color

  &-view
    width 700px
    margin 100px auto 0

  &-button
    margin-top 50px
    padding 8 32px

.dashboard

  &.full-screen
    flex-flow row

  .logo
    text-align center
    font-size 26px
    padding 21px 0

  .sidebar
    flex 0 0 300px
    background-color #37474F
    border-right dark-border
    display flex
    flex-direction column

    .logo
      flex 0

    .charts
      flex 1
      display flex
      flex-direction column

  .content
    flex 1 1 auto
    background-color #455A64
    overflow scroll

.opening
  text-align center

  &-title
    margin 0 0 30px

  &-description
    width 700px
    margin 0 auto 50px

  &-button
    padding 8px 32px

.input-hint
  position absolute
  left 2px
  right auto
  bottom 7px
  font-size 12px
  line-height 14px
  color grey

.input-ace
  width 100%
  height 300px

.agreement
  text-align center

  &-title
    margin 100px 0 21px

  &-description
    margin 0 0 21px

.own-charts
  flex 0 0 258px
  background-color dark-gray-color
  padding 21px

.other-charts
  flex 1 1 auto
  padding wrapper

.progress
  position fixed

  &-show
    display block

  &-hide
    display none

.input-search
  border-bottom dark-border
  padding 0 21px 16px

  input
    padding 8px 10px
    width 100%
    box-sizing border-box
    border-radius 2px
    border none
    background-color #263238
    color #78909C
    outline none

    &::-webkit-input-placeholder
      color #546E7A

.chart-features
  padding 0 21px 16px
  border-bottom dark-border
  flex 0

  .md-button
    width 100%
    margin 0

.chart-list
  color #90A4AE
  list-style none
  padding 0
  margin 0
  overflow scroll
  heigh 100%
  flex 1

.chart-item
  border-bottom dark-border
  padding 16px 21px
  cursor pointer
  outline none
  transition background-color .1s ease-in-out

  &:hover
    background-color dark-gray-color    

.chart-item-active
  background dark-gray-color
  position relative

  &::before
    content ''
    position absolute
    width 5px
    height 100%
    top 0
    left 0
    background-color #3F51B5

.comparable-charts
  display flex
  flex-direction row
  flex-wrap wrap

.comparable-chart-item
  flex 0 0 50%
  height 200px
  padding 0 10px 10px
  box-sizing border-box
  cursor pointer
  outline none

  .md-subhead
    color #90A4AE
    margin 0 0 10px

// .chart
//   width 100%
//   height 258px

// [ui-view].ng-enter, [ui-view].ng-leave
//   position absolute
//   transition all 1s ease-in-out
//
// [ui-view].ng-enter
//   right -100%
//
// [ui-view].ng-enter-active
//   right 0
//
// [ui-view].ng-leave
//   left 0
//
// [ui-view].ng-leave-active
//   left -100%

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your stylus files automatically
 */
// injector
// endinjector
